# Compiled Object files
*.slo
*.lo
*.o
*.or
*.obj
*.o_opt
*.o_dbg
*.a
CPFSolver/include/glucose/simp/lib_standard.a

# Executables
*.exe
*.app

# Makefile dependencies:
*.mk
CPFSolver/include/glucose/mtl/template.mk

#Specifics:
reLOC-0.13-odaiba_037/src/*.o
reLOC-0.13-odaiba_037/src/*.o_opt
reLOC-0.13-odaiba_037/src/*.o_dbg

CPFSolver/build
CPFSolver/bin
CPFSolver/bin/a.out
CPFSolver/core
