# Compiled Object files
*.slo
*.lo
*.o
*.or
*.obj
*.o_opt
*.o_dbg
*.a
CPFSolver/include/glucose/simp/lib_standard.a
**/*.pyw
**/__PYCACHE__

# Executables
*.exe
*.app

# Makefile dependencies:
*.mk
CPFSolver/include/glucose/mtl/template.mk

#IDE stuff
**/.idea

#Specifics:
# Surynek's code:
reLOC-0.13-odaiba_037/src/*.o
reLOC-0.13-odaiba_037/src/*.o_opt
reLOC-0.13-odaiba_037/src/*.o_dbg
reLOC-0.13-odaiba_037/src/autooptim_reLOC
reLOC-0.13-odaiba_037/src/gridgen_reLOC
reLOC-0.13-odaiba_037/src/hypergen_reLOC
reLOC-0.13-odaiba_037/src/netgen_reLOC
reLOC-0.13-odaiba_037/src/optimizer_reLOC
reLOC-0.13-odaiba_037/src/reloc.cpp
reLOC-0.13-odaiba_037/src/resolver_reLOC
reLOC-0.13-odaiba_037/src/simplify_reLOC
reLOC-0.13-odaiba_037/src/solver_reLOC
reLOC-0.13-odaiba_037/src/test_alldiff_reLOC
reLOC-0.13-odaiba_037/src/test_basic_reLOC
reLOC-0.13-odaiba_037/src/test_cnf_reLOC
reLOC-0.13-odaiba_037/src/test_complete_reLOC
reLOC-0.13-odaiba_037/src/test_compress_reLOC
reLOC-0.13-odaiba_037/src/test_hierarch_reLOC
reLOC-0.13-odaiba_037/src/test_multirobot_reLOC

#CPFSolver:
CPFSolver/build
CPFSolver/bin
CPFSolver/bin/a.out
CPFSolver/core

#Solver and solution files:
M_solutions/*
M_stats_files/*
S_solutions/*
S_solver_files/*

scripts/core
**/core
