# Compiled Object files
*.slo
*.lo
*.o
*.or
*.obj
*.o_opt
*.o_dbg
*.a
*.pyc
**/__PYCACHE__
**/__pycache__

# Executables
*.exe
*.app

# Makefile dependencies:
*.mk
CPFSolver/include/glucose/mtl/template.mk

#IDE stuff
**/.idea
**/cmake-build-debug

#Specifics:
# Surynek's code:
#reLOC-0.13-odaiba_037/src/autooptim_reLOC
#reLOC-0.13-odaiba_037/src/gridgen_reLOC
#reLOC-0.13-odaiba_037/src/hypergen_reLOC
#reLOC-0.13-odaiba_037/src/netgen_reLOC
#reLOC-0.13-odaiba_037/src/optimizer_reLOC
#reLOC-0.13-odaiba_037/src/reloc.cpp
#reLOC-0.13-odaiba_037/src/resolver_reLOC
#reLOC-0.13-odaiba_037/src/simplify_reLOC
#reLOC-0.13-odaiba_037/src/solver_reLOC
#reLOC-0.13-odaiba_037/src/test_alldiff_reLOC
#reLOC-0.13-odaiba_037/src/test_basic_reLOC
#reLOC-0.13-odaiba_037/src/test_cnf_reLOC
#reLOC-0.13-odaiba_037/src/test_complete_reLOC
#reLOC-0.13-odaiba_037/src/test_compress_reLOC
#reLOC-0.13-odaiba_037/src/test_hierarch_reLOC
#reLOC-0.13-odaiba_037/src/test_multirobot_reLOC

#CPFSolver:
**/build
**/bin

#Solver and solution files:
instances/*
solutions/*
stats_files/*
IDinstances/*
IDstats/*
noIDstats/*

**/table.csv

**/core

# MacOS
**/._*
**/.DS_Store
